/* Header */
header {
    background-color: #00418B;
    height: var(--altura-header);
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: #ffffff;
    box-shadow: var(--shadow-header);
    position: relative; 
    z-index: 10;
}

header h1 {
    font-size: 2rem;
}

#app-container {
    display: flex;
    height: 100%;
}

/* Navbar */

#sidebar {
    width: 15vw;
    height: var(--altura-leftBar-e-conteudo);
    min-width: 150px;
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-sidebar);
    position: relative; 
    z-index: 5;
    display: flex;
    flex-direction: column;
}

#sidebar-nav {
    width: 100%;
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-nav .nav-button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: left;
    padding-left: 1rem;
}

#sidebar-nav .nav-button:hover {
    background-color: rgba(0, 65, 139, 0.2);
} 

#sidebar-nav .nav-button--selected {
    background-color: #00418B;
    color: #ffffff;
}

#sidebar-nav .nav-button--selected:hover {
    background-color: #00418B;
}

#sidebar-nav .nav-button img {
    width: 20px;
    height: 20px;
    margin: 0 .5rem;
}

/* Voltar para site institucional */

.back-site__link {
    text-decoration: none;
    font-size: 0.85rem;
    color: #ffffff;
    background-color: #2a5d97;
    padding: .8rem 1rem;
    border-radius: 8px;
    text-align: center;
    margin: auto 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.back-site__link:hover {
    background-color: #00418B;
}

#main-content {
    width: 90vw;
    height: var(--altura-leftBar-e-conteudo);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}