/* 1. Importação corrigida: Agora puxa a Inter e a Poppins juntas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
  /* Cores de Fundo */
  --bg-primary: #FFFFFF;
  --bg-secondary: #0244AB;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  
  font-family: 'Inter', sans-serif; 
}

main {
  max-width: 1440px; /* Largura máxima */
  margin: 0;   
  padding: 0;  
  
  display: flex; 
  flex-direction: column;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem; /* 48px */
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem; /* 36px */
  margin: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* 24px */
  margin: 0;
}

p {
  font-size: 1rem; /* 16px */
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1rem; /* 16px */
  text-decoration: none;
  color: inherit;
}